
body {
    background-color: #f0f0f5;
}

header {
    background-color: #ffffff;
    font-size: 52px;
    text-align: center;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

footer {
    background-color: #b3d7ff;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 90%;
    left: 0%;
}

nav {
    background-color: #ffb3b3;
    position: fixed;
    width: 20%;
    height: 90%;
    top: 10%;
    left: 0%;
}

article {
    background-color: #f0f0f5;
    text-align: center;
    position: fixed;
    width: 80%;
    top: 10%;
    left: 20%;
}
